@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>New Password</title>
</head>
<body>
<div>
    <b>New password set! You can now login to Letter Head using this password.</b>
</div>
</body>
</html>