@model LetterHeadServer.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewPassword</title>
</head>
<body>
    <div style="padding: 10px">
        <h2>Letter Head - New Password</h2>
        @if (Model == null)
        {
            <b>Invalid Email!</b>
        }
        else if (string.IsNullOrEmpty(ViewBag.Token))
        {
            <b>Invalid Token!</b>
        }
        else
        {
            <b>Choose a new password:</b><p></p>
            if (ViewBag.PasswordError)
             {
                 <font color="red">Invalid password!</font><br/>
             }
            <form method="POST" action="/User/NewPasswordSubmit">
                <input type="password" name="newpassword" />
                <input type="hidden" name="token" value="@ViewBag.Token" />
                <input type="hidden" name="userid" value="@Model.Id"/>
                <br />
                <input type="submit" name="Submit" />
            </form>
        }
        </div>
</body>
</html>
